In [2]:
# pull in the necessary libraries
import pandas as pd
import numpy as np

In [3]:
# create a variable to hold the contents of the file
initialFile = 'purchase_data.csv'
readFile = pd.read_csv(initialFile, encoding = 'utf-8')
init_df = pd.DataFrame(readFile)

# Player Count

In [4]:
# count the number of unique players
playerCnt = len(init_df['SN'].unique())
summCnt = pd.DataFrame({'Total Players': [playerCnt]})
summCnt

   Total Players
0            576

# Purchasing Analysis (Total)

In [5]:
# count the number of unique items
itemCnt = len(init_df['Item ID'].unique())

# calculate the average price
avgPrice = round(init_df['Price'].mean(),2)

# calculate the number of purchases
purchases = init_df['Item Name'].count()

# calculate total revenue (gross revenue)
revenue = init_df['Price'].sum()

# create the summary data frame for the analysis 
sumPurch_df = pd.DataFrame({'Number of Unique Items': [itemCnt], 'Average Price': [avgPrice], \
                            'Number of Purchases': [purchases], 'Total Revenue': [revenue]})

# formatting the average price and total revenue to currency format
sumPurch_df['Average Price'] = sumPurch_df['Average Price'].map("${:,.2f}".format)
sumPurch_df['Total Revenue'] = sumPurch_df['Total Revenue'].map("${:,.2f}".format)
sumPurch_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

# Gender Demographics

In [6]:
genderCnt = init_df.groupby('Gender').SN.nunique()
summGender = pd.DataFrame(genderCnt)
summRename = summGender.rename(columns={'SN': 'Total Count'})
summRename.head()

# percentage and count of female players
summRename['Percentage of Players'] = summRename['Total Count']/summRename['Total Count'].sum() * 100
summRename['Percentage of Players'] = summRename['Percentage of Players'].map("{:.2f}".format)
summRename.head()

                       Total Count Percentage of Players
Gender
Female                          81                 14.06
Male                           484                 84.03
Other / Non-Disclosed           11                  1.91

# Purchasing Analysis (Gender)

In [7]:
#Purchase Count
purCnt = init_df.groupby(['Gender']) ['SN'].count()

#Average Purchase Price
avgPP = init_df.groupby(['Gender']) ['Price'].mean().head()

#Total Purchase Value
totPV = init_df.groupby(['Gender']) ['Price'].sum().head()

#Average Total Purchase per Person
avgTPP = init_df.groupby(['Gender']) ['Price'].sum() / init_df.groupby('Gender').SN.nunique()

#Purchasing Analysis (Gender) Summary

summPAG = pd.DataFrame({'Purchase Count': purCnt, 'Average Purchase Price': avgPP, 'Total Purchase Value': totPV, \
                       'Avg Total Purchase per Person': avgTPP})
summPAG['Average Purchase Price'] = summPAG['Average Purchase Price'].map("${:,.2f}".format)
summPAG['Total Purchase Value'] = summPAG['Total Purchase Value'].map("${:,.2f}".format)
summPAG['Avg Total Purchase per Person'] = summPAG['Avg Total Purchase per Person'].map("${:,.2f}".format)
summPAG.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

In [8]:
# Establish bins for ages
ageBins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
ageRange = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# Categorize the existing players using the age bins (Hint: use pd.cut())
init_df['Age Range'] = pd.cut(init_df['Age'], ageBins, labels=ageRange)
ageDemo = init_df

# grouping the data by age rante and storing in a data frame
ageGroup = ageDemo.groupby('Age Range').SN.nunique()
summAge = pd.DataFrame(ageGroup)

# renaming column to match the homework
summAgeRN = summAge.rename(columns={'SN': 'Total Count'})

# calculating the percentage of players
summAgeRN['Percentage of Players'] = summAgeRN['Total Count']/summAgeRN['Total Count'].sum() * 100

# formatting the percentage to two decimal places
summAgeRN['Percentage of Players'] = summAgeRN['Percentage of Players'].map("{:.2f}".format)

summAgeRN.head(8)

           Total Count Percentage of Players
Age Range
<10                 17                  2.95
10-14               22                  3.82
15-19              107                 18.58
20-24              258                 44.79
25-29               77                 13.37
30-34               52                  9.03
35-39               31                  5.38
40+                 12                  2.08

# Purchasing Analysis (Age)

In [9]:
# setting up initial data frame so as not to overwrite
agePurch = init_df

# setting up the groupings by age range for the data frame
grpPurch = agePurch.groupby('Age Range').SN.count()

# created the data frame using the groupings
summPA = pd.DataFrame(grpPurch)

# calculations 
#Purchase Count
purCnt2= agePurch.groupby(['Age Range']) ['SN'].count()

# Average Purchase Price
avgPP2 = agePurch.groupby(['Age Range']) ['Price'].mean()

# Total Purchase Value
totPV2 = agePurch.groupby(['Age Range']) ['Price'].sum()

# Average Total Purchase per Person
avgTPP2 = agePurch.groupby(['Age Range']) ['Price'].sum() / agePurch.groupby('Age Range').SN.nunique()

# Summary
summPA_rn = pd.DataFrame({'Purchase Count': purCnt2, 'Average Purchase Price': avgPP2, 'Total Purchase Value': totPV2, \
'Avg Total Purchase per Person': avgTPP2})

# Formatting
summPA_rn['Average Purchase Price'] = summPA_rn['Average Purchase Price'].map("${:,.2f}".format)
summPA_rn['Total Purchase Value'] = summPA_rn['Total Purchase Value'].map("${:,.2f}".format)
summPA_rn['Avg Total Purchase per Person'] = summPA_rn['Avg Total Purchase per Person'].map("${:,.2f}".format)

# viewing
summPA_rn.head(8)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

In [10]:
# creating new data frame so as not to overwrite original
topSpend = init_df

# calculations

# purchase counts
purCnt3 = topSpend.groupby(['SN']) ['SN'].count()

# average purchase price
avgPP3 = topSpend.groupby(['SN']) ['Price'].mean()

# total purchase value
totPV3 = topSpend.groupby(['SN']) ['Price'].sum()

# summary data frame
summSpend = pd.DataFrame({'Purchase Count': purCnt3, 'Average Purchase Price': avgPP3, 'Total Purchase Value': totPV3})

# sorting
summSpend.sort_values(by=['Total Purchase Value'], inplace=True, ascending=False)

# formatting
summSpend['Average Purchase Price'] = summSpend['Average Purchase Price'].map("${:,.2f}".format)
summSpend['Total Purchase Value'] = summSpend['Total Purchase Value'].map("${:,.2f}".format)

# viewing
summSpend.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

In [11]:
# creating new data frame so as not to overwrite the original
popItems = init_df

# calculations

# purchase count - geez, I know there must be a better way to calculate these once and call them in - too tired
purCnt4 = popItems.groupby(['Item ID', 'Item Name']) ['SN'].count()

# item price -- not working -- need to figure out why
itemPrice = popItems.groupby(['Item ID', 'Item Name']) ['Price'].sum() / purCnt4

# total purchase value
totPV4 = popItems.groupby(['Item ID', 'Item Name']) ['Price'].sum()

# summary data frame
summPop = pd.DataFrame({'Purchase Count': purCnt4, 'Item Price': itemPrice, 'Total Purchase Value': totPV4})


# sorting
summPop.sort_values(by=['Purchase Count'], inplace=True, ascending=False)

# formatting
summPop['Total Purchase Value'] = summPop['Total Purchase Value'].map("${:,.2f}".format)

summPop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76
145,Fiery Glass Crusader,9,4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,$31.77
82,Nirvana,9,4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,$8.16

# Most Profitable Items

In [12]:
# for some reason (that I could not find with much looking/testing), I could not just create a new variable and
# change the sort from above and get it to work... why???? Seriously, if you can tell me that would be awesome!
# In the interest of my sanity, I resorted to copying and pasting the above and changed all the variable names. 
# Inefficient code but it works. 

# creating new data frame so as not to overwrite the original
profItems = init_df

# calculations

# purchase count - geez, I know there must be a better way to calculate these once and call them in - too tired
purCnt5 = profItems.groupby(['Item ID', 'Item Name']) ['SN'].count()

# item price -- not working -- need to figure out why
itemPrice2 = profItems.groupby(['Item ID', 'Item Name']) ['Price'].sum() / purCnt5

# total purchase value
totPV5 = profItems.groupby(['Item ID', 'Item Name']) ['Price'].sum()

# summary data frame
summProf = pd.DataFrame({'Purchase Count': purCnt5, 'Item Price': itemPrice2, 'Total Purchase Value': totPV5})


# sorting
summProf.sort_values(by=['Total Purchase Value'], inplace=True, ascending=False)

# formatting
summProf['Total Purchase Value'] = summProf['Total Purchase Value'].map("${:,.2f}".format)

summProf.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76
82,Nirvana,9,4.90,$44.10
145,Fiery Glass Crusader,9,4.58,$41.22
92,Final Critic,8,4.88,$39.04
103,Singed Scalpel,8,4.35,$34.80

### Observations
* The customer base is male dominated, perhaps they should figure out how to attract others to their products given that non-males spend approximately 10% more on average

* Young adults aged 20-24 make approximately 48% of all purchases followed by the 15-19 year old base with appoximately 18% of all purchases

* None of the items are overly popular (most popular item accounts for 1.5% of total purchases); survey the fanbase and find out why people are buying certain items over others then adjust existing offerings